<nav>
  <add-channel (channelAdded)="getChannels()"></add-channel>
  <table>
    <thead>
      <th>Channels</th>
    </thead>
    <tbody>
      <tr *ngFor="let channel of channels">
        <td [routerLink]="channel.id">{{channel.name}}</td>
      </tr>
    </tbody>
  </table>
</nav>

<style>
:host {
  display: block;
  padding: 0;
  margin: 0;
}

add-channel {
  border-bottom: 1px solid #eee;

}

a {
  display: block;
  padding: 8px 16px;
  text-align: center;
  border-bottom: 1px solid #eee;
}
</style>